extends layout
block content
  p Saniyede Artış Miktarı:
    span#speed.text-muted 1
  p Para:
    span#money.text-success 0
  button#decrease.btn.btn-danger -5 Hız
  button#increase.btn.btn-success +5 Hız